<div class="container alert alert-success mt-3 p-3">
  <h2 class="text-success">¡Hasta luego {{this.name}}!</h2>
</div>
<script>
  setTimeout(function () { window.location = "/login"; }, 2000)
</script>