<div class="alert alert-success p-3 d-flex justify-content-between">
  <h2 class="text-success" style="display: inline">¡Bienvenido {{this.name}}!</h2>
  <a class="btn btn-primary" href="/logout" >Logout</a>
</div>